@b: ~'.suggest-input';

@{b} {


    &__input {
        font-size: 12px;
        height: 28px;
        border: 0;

        &:focus {
            outline: none;
        }
    }

    &__items-wrap {
        border-bottom: 2px solid #00b3ee;
        padding-bottom: 5px;
        width: 400px;
    }

    &__item {
        font-size: 12px;
        height: 32px;
        white-space: nowrap;
        overflow: hidden;

        &:not(:first-child) {
            margin-top: 12px;
        }

        &-emp-name {
        }

        &-emp-team {
            color: #949fb1;
        }

        &-remove-icon {
            cursor: pointer;
            font-size: 20px;
            line-height: 32px;
            padding-left: 4px;
        }

        &-input {
            position: absolute;
            left: -100000px;
            width: 1px;
        }

        &:focus,
        &_focused_true {
            color: red;
        }

        &_type_multi {

            @{b}__item-avatar {
                margin-right: 8px;
            }

            @{b}__input {

                &:not(:last-child) {
                    display: none;
                }
            }
        }

        &_type_single {

            @{b}__item-remove-icon {
                display: none;
            }

            @{b}__item-avatar {
                margin-right: 16px;
            }

            @{b}__item-emp-name {
                display: none;
            }
        }
    }

    &__item_type_multi:not(:last-of-type) {

        @{b}__input {
            display: none;
        }
    }
}
